body {
    margin: 0px;
}

header {
    background-color: honeydew;
    /* display: inline-block; */
    width: 100%;
    /* margin-right: 300px; */
    /* margin-left: 50px; */
}

h1{
display: inline-block;
    margin:0;
    font-size: 50px;
    font-family: Haettenschweiler;
    padding: 10px;
}
nav a{
margin-left: 10px;
padding: 20px 35px;
background-color: green;
color: white;
text-decoration: none;
border-radius: 30px;
}

nav{ 
    min-width: 300px;
    display: inline-block;
    margin: 0px 0px 0px 250px;
    padding: 20px;
    position: relative;
    top: 34px;
}

.fulbo {
    /* object-fit: none; */
    /* display: block; */
    height: 400px;
    width: 100%;
    /*padding: -50px 0px -50px 0px;*/
}



.logonysl {
    /* margin-left: 20px; */
    /* display: inline-block;
    height: 200px;
    width: 200px; */
    width: 100%;
    

}
article{
    display: inline-block;
    margin: 30px;

}

.subheader h2 {
    text-align: center;
    padding: 20px;
    margin:0;
    background-color: black;
    color:white;
    margin-top: -10px;
    z-index: 10px;
}
.container{
overflow: hidden;
}
aside{
width: 23%;
margin-top: 10px;
min-width: 135px;
float: left;
}
section{
/* padding-left: 20px; */
width:77% ;
float: left;
}
.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
 }